<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>Bus Predictor</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='jumbotron-narrow.css') }}" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static', filename='js/nextbus.js') }}"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>

    <script language="JavaScript" type="text/javascript">
      var mbta_api_headers = { "X-API-KEY": "{{ mbta_apikey }}" };

      var source = "{{ source }}";
      var agency = "{{ a }}";
      var route = "{{ r }}";
      var stop =  "{{ s }}";

      $(document).ready(function(){
      
	  var getData = function () {
             
           if (agency == 'mit') {
              getNextbusData();
           } else {
              getMbtaData();
           }

          }

	  var getNextbusData = function () {

 	      var url = "https://retro.umoiq.com/service/publicXMLFeed?command=predictions";
	      url = url + "&a="+agency+"&s="+stop+"&r="+route;
	      
	      // Test data from file:
	      //var url = "http://127.0.0.1:5000/static/tech1.xml";
	      //console.log("Nextbus URL:"+url);

              $.ajax({
		  url: url,
		  dataType: "xml"
	      })
		  .success(function(data) {

		      var minutesArr =  extractNextbusPredictions (data);

                      formatData(minutesArr);

 		      return;
		      
		  })
		  .error(function() {
		      //$("#error").html("API Call Failed");
		      console.log("API Call Failed");
		  });
	      
	  };

	  var getMbtaData = function () {
              var url = "https://api-v3.mbta.com/predictions/?filter[route]="+route+"&filter[stop]="+stop+"&include=stop,route,trip";
	      
	      //console.log("MBTA URL: "+url);
              var routeTitle = '';
              var stopTitle = '';
              var direction = '';

              $.ajax({
		  url: url,
                  headers: mbta_api_headers,
		  dataType: "json"
	      })
		  .success(function(data) {

		      var minutesArr =  extractMbtaPredictions (data);

                      formatData(minutesArr);

		      if (minutesArr.length > 0) {

			  var included = data.included;

			  $.each(included, function(index, include) {
                  	      if (include.type == 'stop') {
                  		  stopTitle = include.attributes.name;
                  	      } else {
                  		  if (include.type == 'route') {
                  		      routeTitle = include.attributes.short_name;
                  		  } else {
                  		      if (include.type == 'trip') {
                  			  direction = include.attributes.headsign;
                  		      }	
                  		  }
                  	      }
			  });

			  $("#routeTitle").html(routeTitle);
			  $("#stopTitle").html(stopTitle);
			  $("#direction").html(direction);
		      }

 		      return;
		      
		  })
		  .error(function() {
		      //$("#error").html("API Call Failed");
		      console.log("API Call Failed");
		  });
	      
	  };

          var formatData = function(minutesArr) {
	      $("#mins1").html("");
	      $("#mins2").html("");
	      $("#mins3").html("");

	      switch (minutesArr.length) {
	      case 0:
		  $("#mins1").html("No Prediction");
		  break;
	      case 1:
		  $("#mins1").html(minutesArr[0]);
		  break;
	      case 2:
		  $("#mins1").html(minutesArr[0]);
		  $("#mins2").html(minutesArr[1]);
		  break;
	      default:
		  $("#mins1").html(minutesArr[0]);
		  $("#mins2").html(minutesArr[1]);
		  $("#mins3").html(minutesArr[2]);
		  break;
	      }
			  
	      $("#footer").html("As of " + moment().format("dddd, MMM Do YYYY, h:mm a"));
	      
              return;

          }

	  // Get the predictions once:
	  getData();
	  // then every n seconds:
	  setInterval(getData, 30*1000);

      }); // end doc ready
    </script>
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">NextBus Predictor</h3>
      </div>

      <div class="jumbotron">
          <h3 id="routeTitle"></h2>
          <h4 id="direction"></h4>
	  <p />
	  <h3 id="stopTitle"></h3>
      </div>
      
      <div class="jumbotron">
          <h1 id="mins1"></h1>
          <h3 id="mins2"></h3>
          <h3 id="mins3"></h3>
      </div>

      <footer id="footer" class="footer">
      </footer>

    </div> <!-- /container -->


  </body>
</html>
