<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta charset="utf-8">
<title>MIT Buses - Map</title>
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="/static/js/date.js"></script> 

    <script type="text/javascript" src="{{ url_for('static', filename='js/nextbus.js') }}"></script>

    <script type="text/javascript">    
      var map;

      //var center_address = "100 Vassar Street, Cambridge, MA 02139";
      var center_address = "77 Massachusetts Avenue, Cambridge, MA 02139";
      var currLoc=0;
      // array for markers:
      var m = new Array();

      var techIcon = L.icon({iconUrl: '/static/img/bus-red-16-large.gif', iconSize: [28, 28]});      
      var techStopIcon = L.icon({iconUrl: "static/img/red-dot-large.png", iconSize: [31, 31]});
      var mbtaIcon = L.icon({iconUrl: "static/img/bus-black-16-large.png", iconSize: [28, 28]});
      var mbtaStopIcon = L.icon({iconUrl: "static/img/grey-dot-large.png", iconSize: [31, 31]});
      // 1 Stops map for now used for all routes. May change this later. 
      // Assumes stop tag is unique across agencies.
      var stopsMap = {};
      var routesMap = {};
      var directionsMap = {};

      //var mbta_api_headers = { "X-API-KEY": "f64eaa3a82474415a77dfc92c43ae9ec" };
      var mbta_api_headers = { "X-API-KEY": "{{ mbta_apikey }}" };

      function placeNextbusVehiclesOnMap(vehicles, icon) {
	  // Add  markers to the map
	  
	  // Add the new markers
	  
	  for (var v in vehicles) {
	      var lat = vehicles[v].attr('lat');
	      var lon = vehicles[v].attr('lon');
	      var route = routesMap[vehicles[v].attr('routeTag')];
	      var direction = directionsMap[vehicles[v].attr('dirTag')];
	      
              var marker = L.marker([lat, lon], {
		  icon: icon,
		  draggable: false
              }).bindPopup(route + " " + direction).addTo(map);
              m.push(marker);

	  }

      }

      $(document).ready(function() {

	  var loadNextbusStops = function(url, stopIcon) {
	      $.ajax({
		  url: url,
		  dataType : "xml",
		  cache : true,
		  success : function(data) {
		      
		      routesMap[$(data).find('body > route').attr('tag')] = $(data).find('body > route').attr('title');
		      
		      var directions = $(data).find('body').find('direction');
		      $.each(directions, function(k, v) {
			  directionsMap[$(v).attr('tag')] = $(v).attr('title');
		      });
		      
		      var stops = $(data).find('body').find('route > stop');
		      $.each(stops, function(k, v) {
			  stopsMap[$(v).attr('tag')] = $(v);

			  var marker = L.marker([$(v).attr('lat'), $(v).attr('lon')], {
			      icon: stopIcon,
			      draggable: false
			  }).bindPopup($(v).attr('title')).addTo(map);	  
                          marker['savedTitle'] = $(v).attr('title');
                          marker.on('click', function(e) {
                              var stopTag = $(v).attr('tag');
                	      var url = "http://webservices.nextbus.com/service/publicXMLFeed?command=predictions";
                              var s = "w92ames";
                              url = url + "&a=mit&s="+stopTag+"&r=tech";
                              var predictionText = "";
	      
                              $.ajax({
                                url: url,
                                dataType: "xml"
                              })
                              .success(function(data) {
                                 var minutesArr =  extractPredictions (data);
                                 switch (minutesArr.length) {
		                 case 0:
			             predictionText = "No Prediction";
			             break;
		                 case 1:
			             predictionText = predictionText + minutesArr[0];
			             break;
		                 case 2:
			             predictionText = minutesArr[0] + '<br />' + minutesArr[1];
			             break;
		                 default:
			             predictionText = minutesArr[0] + '<br />' + minutesArr[1] + '<br />' + minutesArr[2];
			             break;
		                 }
                                 e.target._popup.setContent('<strong>' + marker['savedTitle'] + '</strong>' + '<br />'+predictionText)
                              })
                              .error(function() {
                                 console.log("Nextbus Prediction API Call Failed");
                                 e.target._popup.setContent('<strong>' + marker['savedTitle'] + '</strong><br />' + "No prediction");
                              });
                          } );
                          
		      });
		      
		  },
		  error : function(err) {
                      console.log("Nextbus Stops API Call Failed");
		  }
	      });
	      
	  };

	  var loadMbtaStops = function(url, stopIcon) {
	      $.ajax({
		  url: url,
		  dataType : "json",
		  cache : true,
		  success : function(data) {
	
		      var stops = data.data;
		      $.each(stops, function(k, v) {
			  // stopsMap[$(v).attr('tag')] = $(v);

			  var marker = L.marker([v.attributes.latitude, v.attributes.longitude], {
			      icon: stopIcon,
			      draggable: false
			  }).bindPopup(v.attributes.name).addTo(map);	  
                          marker['savedTitle'] = v.attributes.name;
                          marker.on('click', function(e) {
                             url = "https://api-v3.mbta.com/predictions/?filter[route]=747&filter[stop]=" + v.id;
                              var predictionText = "";
	      
                              $.ajax({
                                url: url,
                                headers: mbta_api_headers,
                                dataType: "json"
                              })
                              .success(function(data) {
                                 var departuresArr =  extractMbtaPredictions (data);
                                 switch (departuresArr.length) {
		                 case 0:
			             predictionText = "No Prediction";
			             break;
		                 case 1:
			             predictionText = predictionText + departuresArr[0];
			             break;
		                 case 2:
			             predictionText = departuresArr[0] + '<br />' + departuresArr[1];
			             break;
		                 default:
			             predictionText = departuresArr[0] + '<br />' + departuresArr[1] + '<br />' + departuresArr[2];
			             break;
		                 }
                                 e.target._popup.setContent('<strong>' + marker['savedTitle'] + '</strong>' + '<br />'+predictionText)
                              })
                              .error(function() {
                                 console.log("MBTA Prediction API Call Failed");
                                 e.target._popup.setContent('<strong>' + marker['savedTitle'] + '</strong><br />' + "No prediction");
                              });
                          } );
                          
			 // marker['stopId'] = $(v).attr('stopId');
		      });
		      
		  },
		  error : function(err) {
                      console.log("MBTA Stops API Call Failed");
		  }
	      });
	      
	  };

	  var getNextbusVehicleData = function(url, icon) {
	      $.ajax({
		  url: url,
		  dataType : "xml",
		  cache : false,
		  success : function(data) {

		      var vehicles = $(data).find('body').find('vehicle');
		      var vehiclesMap = {}

		      $.each(vehicles, function(k, v){
			  var vid = $(v).attr('id');
			  vehiclesMap[vid] = $(v);
		      });
		      placeNextbusVehiclesOnMap(vehiclesMap, icon)
		  },
		  error : function(err) {
                      console.log("Nextbus Vehicle Data API Call Failed");
		  }
	      });
	  }

	  var getMbtaVehicleData = function(url, icon) {
	      $.ajax({
		  url: url,
		  dataType : "json",
		  cache : false,
                  headers: mbta_api_headers,
		  success : function(data) {
		      var vehicles = data.data;
		      $.each(vehicles, function(index, vehicle) {
			  
			  var lat = vehicle.attributes.latitude;
			  var lon = vehicle.attributes.longitude;

                          var route_dir = "";
                          if ( vehicle.attributes.direction_id == 0 ) {
                            route_dir = "CT2: Sullivan";
                          } else {
                            route_dir = "CT2: Ruggles";
                          }
			  
			  var marker = L.marker([lat, lon], {
			      icon: icon,
			      draggable: false
			  }).bindPopup(route_dir).addTo(map);
			  m.push(marker);
		      });
		  },
		  error : function(err) {
                      console.log("MBTA Vehicle Data API Call Failed");
		  }
	      });
	      

	  }
	  
	  // Get the data
	  var getData = function () {

	      // Remove any existing (old) markers from the map.
	      for (var i=0; i < m.length; i++) {
		  m[i].removeFrom(map);
	      }

	      // MIT Tech Shuttle:
	      getNextbusVehicleData("http://webservices.nextbus.com/service/publicXMLFeed?command=vehicleLocations&a=mit&r=tech&t=0", techIcon);

	      // MBTA CT2:
	      // CT2 route id is 747
	      getMbtaVehicleData("https://api-v3.mbta.com/vehicles?filter[route]=747&include=route", mbtaIcon);

	  };

	  // Set up the map:
	  L.mapquest.key = '{{ mq_apikey }}';

	  L.mapquest.geocoding().geocode(center_address, function (error, response) {
              var location = response.results[0].locations[0];
              var latLng = location.displayLatLng;
	      
	      var baseLayer = L.mapquest.tileLayer('map');
	      
	      map = L.mapquest.map('map', {
		  center: latLng,
		  layers: L.mapquest.tileLayer('map'),
		  zoom: 15
	      });

	  //var kmlUrl = "http://web.mit.edu/sturner/www/cta2.kml";
	  //var techShuttleLayer = new google.maps.KmlLayer({
	  //    url: kmlUrl,
	  //    map: gMap
	  //});

	  // Load tech stops:
	  loadNextbusStops("http://webservices.nextbus.com/service/publicXMLFeed?command=routeConfig&a=mit&r=tech&terse=true", techStopIcon);
          // TODO replace this with new MBTA API. Nextbus API still seems to work (Dec 2018):
	  // loadNextbusStops("http://webservices.nextbus.com/service/publicXMLFeed?command=routeConfig&a=mbta&r=747&terse=true", mbtaStopIcon);

          loadMbtaStops("https://api-v3.mbta.com/stops?filter[route]=747", mbtaStopIcon);

	  // Fill the table once:
          getData();
	  // and then every n seconds:
	      setInterval(getData, 30*1000);

	  });

      });

//      });
  </script>

</head>
<body>

    <div id="map" style="width: 800px; height: 640px"></div>

</body>
</html>
