<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta charset="utf-8">
<title>MIT Buses - Map</title>
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="/static/js/date.js"></script> 

    <script type="text/javascript">    
      var map;

      //var center_address = "100 Vassar Street, Cambridge, MA 02139";
      var center_address = "77 Massachusetts Avenue, Cambridge, MA 02139";
      var currLoc=0;
      // array for markers:
      var m = new Array();

      var techIcon = L.icon({iconUrl: '/static/img/bus-red-16.gif', iconSize: [16, 16]});      
      var techStopIcon = L.icon({iconUrl: "static/img/red-dot.png", iconSize: [7, 7]});
      var mbtaIcon = L.icon({iconUrl: "static/img/bus-black-16.ico", iconSize: [16, 16]});
      var mbtaStopIcon = L.icon({iconUrl: "static/img/grey-dot.png", iconSize: [7, 7]});
      // 1 Stops map for now used for all routes. May change this later. 
      // Assumes stop tag is unique across agencies.
      var stopsMap = {};
      var routesMap = {};
      var directionsMap = {};

      function placeVehiclesOnMap(vehicles, icon) {
	  // Add  markers to the map
	  
	  // Add the new markers
	  
	  for (var v in vehicles) {
	      var lat = vehicles[v].attr('lat');
	      var lon = vehicles[v].attr('lon');
	      var route = routesMap[vehicles[v].attr('routeTag')];
	      var direction = directionsMap[vehicles[v].attr('dirTag')];
	      
              var marker = L.marker([lat, lon], {
		  icon: icon,
		  draggable: false
              }).bindPopup(route + " " + direction).addTo(map);
              m.push(marker);

	  }

      }

      $(document).ready(function() {

	  var loadStops = function(url, stopIcon) {
	      $.ajax({
		  url: url,
		  dataType : "xml",
		  cache : true,
		  success : function(data) {
		      
		      routesMap[$(data).find('body > route').attr('tag')] = $(data).find('body > route').attr('title');
		      
		      var directions = $(data).find('body').find('direction');
		      $.each(directions, function(k, v) {
			  directionsMap[$(v).attr('tag')] = $(v).attr('title');
		      });
		      
		      var stops = $(data).find('body').find('route > stop');
		      $.each(stops, function(k, v) {
			  stopsMap[$(v).attr('tag')] = $(v);

			  var marker = L.marker([$(v).attr('lat'), $(v).attr('lon')], {
			      icon: stopIcon,
			      draggable: false
			  }).bindPopup($(v).attr('title')).addTo(map);	  

			 // marker['stopId'] = $(v).attr('stopId');
		      });
		      
		  },
		  error : function(err) {
		      //alert(err);
		  }
	      });
	      
	  };

	  var getVehicleData = function(url, icon) {
	      $.ajax({
		  url: url,
		  dataType : "xml",
		  cache : false,
		  success : function(data) {

		      var vehicles = $(data).find('body').find('vehicle');
		      var vehiclesMap = {}

		      $.each(vehicles, function(k, v){
			  var vid = $(v).attr('id');
			  vehiclesMap[vid] = $(v);
		      });
		      placeVehiclesOnMap(vehiclesMap, icon)
		  },
		  error : function(err) {
		      //alert(err);
		  }
	      });
	  }

	  // Get the data
	  var getData = function () {

	      // Remove any existing (old) markers from the map.
	      for (var i=0; i < m.length; i++) {
		  m[i].removeFrom(map);
	      }

	      // MIT Tech Shuttle:
	      getVehicleData("http://webservices.nextbus.com/service/publicXMLFeed?command=vehicleLocations&a=mit&r=tech&t=0", techIcon);

	      // MBTA CT2 (deprecated):
	      //getVehicleData("http://webservices.nextbus.com/service/publicXMLFeed?command=vehicleLocations&a=mbta&r=747&t=0", mbtaIcon);

	  };

	  // Set up the map:
	  L.mapquest.key = 'oTfoHfd7or2pph0LdzYylXgVu5PowRMF';

	  L.mapquest.geocoding().geocode(center_address, function (error, response) {
              var location = response.results[0].locations[0];
              var latLng = location.displayLatLng;
	      
	      var baseLayer = L.mapquest.tileLayer('map');
	      
	      map = L.mapquest.map('map', {
		  center: latLng,
		  layers: L.mapquest.tileLayer('map'),
		  zoom: 15
	      });

	  //var kmlUrl = "http://web.mit.edu/sturner/www/cta2.kml";
	  //var techShuttleLayer = new google.maps.KmlLayer({
	  //    url: kmlUrl,
	  //    map: gMap
	  //});

	  // Load tech stops:
	  loadStops("http://webservices.nextbus.com/service/publicXMLFeed?command=routeConfig&a=mit&r=tech&terse=true", techStopIcon);

	  loadStops("http://webservices.nextbus.com/service/publicXMLFeed?command=routeConfig&a=mbta&r=747&terse=true", mbtaStopIcon);

	  // Fill the table once:
          getData();
	  // and then every n seconds:
	      setInterval(getData, 30*1000);

	  });

      });

//      });
  </script>

</head>
<body>

    <div id="map" style="width: 800px; height: 640px"></div>

</body>
</html>
